<h3>
    <a href="/product" class="btn btn-danger">
        <i class="fa fa-plus"> </i> Create New
    </a>
    Product List
</h3>
<table class="table table-striped" id="toyTable">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.productName}}</td>
            <td>{{this.price}}</td>
            <td>
                <img src="/img/{{this.image}}" height="50px" widht="50px">
            </td>
            <td>{{this.des}}</td>
            <td>
                <a href="/product/{{this._id}}">
                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                </a>
                <a href="/product/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record?');">
                    <i class="fa fa-trash fa-lg" aria-hidden="true">

                    </i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>